debug.log*
npm-debug.log*
*/node_modules/
/node_modules/
*/dist/
dist/*
*/dist-stage/
.vscode/
.idea/
_build/
_prod/
_prod2/
_sandbox/
_ucloud/
.project/
package-lock.json
*/qshell_windows_amd64.exe
.DS_Store
